<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h2>Activity <mat-icon class="mat-18">golf_course</mat-icon></h2>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h2>Community <mat-icon class="mat-18">people</mat-icon></h2>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h2>Challenges <mat-icon class="mat-18">directions_bike</mat-icon></h2>
    <p>Never stop! Dive into new challenges every day!</p>
  </section>
</div>
